:root{
    --white: white;
    --dark: #23272A;
    --lgrey: #F6F6F6;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    padding: 3rem 0;
}
header{
    background-color:#2A5EE8;
    padding: 1rem 0;
}
div > ul{
    gap: 1rem;
    list-style: none;
    
}

hr{
    border: none;
    height: 0.5px;
    background-color: var(--white);
    background-size: contain;
}
button{
    display: inline-block;
}
a{
    text-decoration: none;
    color: var(--white);
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 1.8rem;
    line-height: 2.3rem;
}

p{
    line-height: 1.5rem;
}
.container{
    width: 920px;
    margin: 0 auto;
}
.box1{
    padding: 3rem;
}
.img-sz{
    width: 100%;
}
.bttn{
    background-color: var(--white);
    border: none;
    border-radius: 25px;
    padding:0.4rem 0.6rem;
}
.bttn.white{
    color: var(--dark);
    padding: .5rem 1rem;
}
.bttn.dark{
    background-color: var(--dark);
    color: var(--white);
    padding: .5rem 1rem;
}
.bttn.violet{
    background-color: #8EA1E1;
    color: white;
    padding: .5rem 1rem;

}
.w25{
    width: 25%;
}
.w50{
    width: 50%;
}
.w65{
    width: 65%;
}
.w35{
    width: 35%;
}

.w720px{
    width: 720px;
}
.margin-b2{
    margin-bottom: 2rem;
}
.margin-b1{
    margin-bottom: 1rem;
}
.margin-b3{
    margin-bottom: 3rem;
}
.h100{
    height: 100%;
}
.alg-itms{
    align-items: center;
}

.f-size-s{
    font-size: small
}
.f-size-m{
    font-size:medium
}

.c-gap{
    column-gap: 2rem;
}

.grey{
    background-color: var(--lgrey);
}

.flex{
    display: flex;
}
.flexc{
    display: flex;
    flex-direction: column;
}
.right{
    justify-content: center;
}
.gsea{
    background-color: lightseagreen;
}
.lgsea{
    background-color: rgb(131, 255, 249);
}

.black{
    background-color: rgb(34, 34, 34);
}

.row{
    display: flex;    
    border: 1px solid blue;
    padding: 2rem;
}


.content-cntr{

    justify-content: center;
}


.right{
    justify-content: end;
}

.h50{
    height: 50px;
}


.borderw{
    border: 1px dotted white;
}

.foot1{
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}

.foot2{
    padding-top: 0.5rem;
}

.pos-content{
    align-items: center;
    justify-content: space-between;
}

.pddg{
    padding: 0.3rem;
}

.sec1{
    background-image: url(/imgs/jumbo.png);
    background-size: cover;
}

.sec1 .container{
    text-align: center;
    color: var(--white);
}

.sec5.container{
    
    color: var(--dark);
}
.sec5 > p{
    text-align: center;
}
.sec5 > h3{
    padding: .5rem;
    background-image: url(/imgs/stars.svg);
    font-size: 1.3rem;
    background-size: 98%;
    background-position: center;
}

.img4{
    display: block;
    margin: 0% auto;
    width: 100%;
}